RewriteEngine On

# Rediriger toutes les requêtes vers api/products.php si elles commencent par api/products
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^api/products/(\d+)$ api/products.php?id=$1 [QSA,L]

# Autoriser l'accès aux fichiers existants
RewriteCond %{REQUEST_FILENAME} -f
RewriteRule ^ - [L]

